{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Register</title>
</head>
<style>
.content-section{
    margin:auto;
}



@media screen and (max-width: 992px) {
  .content-section{
      margin:auto;
  }

  .form-group{
      margin:4%;
  }
  .border-top{
     margin:4%;
  }
  
  .border-bottom{
      margin:4%;
  }

}

@media screen and (max-width: 1400px) and (min-width: 992px) {
  .content-section{
      margin-left:auto;
  }

  .form-group{
      margin:4%;
  }
  .border-top{
     margin:4%;
  }
  .border-bottom{
      margin:4%;
  }

}


</style>


<body>
    <div class="content-section" >
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</body>

</html>