{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Compton wavelength Calculator | Free Calculator to find Compton wavelength</title>
<meta name="description"
    content="Compton wavelength Calculator makes it easy for you to find Compton wavelength." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Compton wavelength Calculator | Free Calculator to find Compton wavelength" />
<meta property="og:description" content="Compton wavelength Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/compton-wavelength-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Compton wavelength Calculator | Free Calculator to find Compton wavelength" />
<meta name="twitter:description"
    content="Compton wavelength Calculator makes it easy for you to find Compton wavelength." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/compton-wavelength-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Compton wavelength Calculatorr | Compton wavelength" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/compton-wavelength-calculator.jpeg" />
<meta property='og:description' content="Compton wavelength Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>

{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
	  document.addEventListener('DOMContentLoaded', function () {
		document.getElementById('ddd').click();
		});
</script>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Compton's Wavelength Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Compton Wavelength | Given Mass </option>
                            {% else %}
                            <option value="form1">Find Compton Wavelength | Given Mass</option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected">Find Mass | Given Compton Wavelength</option>
                            {% else %}
                            <option value="form2">Find Mass | Given Compton Wavelength</option>
                            {% endif %}

                        </select>
                    </div>

                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Mass</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="Ia" {% if Ia1 %} value="{{Ia1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Ia_op">

                          
                            {% if Ia_op == 'kg' %}
                            <option value="kg" selected="selected">kilograms(kg)</option>
                            {% else %}
                            <option value="kg">kilograms(kg)</option>
                            {% endif %}


                            {% if Ia_op == 'g' %}
                            <option value="g" selected="selected">grams(g)</option>
                            {% else %}
                            <option value="g">grams(g)</option>
                            {% endif %}

                            {% if Ia_op == 'mg' %}
                            <option value="mg" selected="selected">milligram(mg)</option>
                            {% else %}
                            <option value="mg">milligram(mg)</option>
                            {% endif %}


                            {% if Ia_op == 'μg' %}
                            <option value="μg" selected="selected">micrograms(μg)</option>
                            {% else %}
                            <option value="μg">micrograms(μg)</option>
                            {% endif %}

    
                            
                            {% if Ia_op == 'me' %}
                            <option value="me" selected="selected">Electron Mass(me)</option>
                            {% else %}
                            <option value="me">Electron Mass(me)</option>
                            {% endif %}

                            {% if Ia_op == 'mp' %}
                            <option value="mp" selected="selected">Proton Mass(me)</option>
                            {% else %}
                            <option value="mp">Proton Mass(me)</option>
                            {% endif %}

                            {% if Ia_op == 'mn' %}
                            <option value="mn" selected="selected">Neutron Mass(u)</option>
                            {% else %}
                            <option value="mm">Neutron Mass(u)</option>
                            {% endif %}

                            {% if Ia_op == 'u' %}
                            <option value="u" selected="selected">Atomic Mass(u)</option>
                            {% else %}
                            <option value="u">Atomic Mass(u)</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Compton Wavelength</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="F" {% if F %} value="{{F1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="F_op">
                          
                          {% if F_op == 'm' %}
                            <option value="m" selected="selected">meter(m)</option>
                            {% else %}
                            <option value="m">meter(m)</option>
                            {% endif %}

                            {% if F_op == 'nm' %}
                            <option value="nm" selected="selected">nanometer(nm)</option>
                            {% else %}
                            <option value="nm">nanometer(nm)</option>
                            {% endif %}


                            {% if F_op == 'mm' %}
                            <option value="mm" selected="selected">millimeter(mm)</option>
                            {% else %}
                            <option value="mm">millimeter(mm)</option>
                            {% endif %}
                            
                            
                            {% if F_op == 'µm' %}
                            <option value="µm" selected="selected">micrometer(µm)</option>
                            {% else %}
                            <option value="µm">micrometer(µm)</option>
                            {% endif %}
                            
                            
                            {% if F_op == 'pm' %}
                            <option value="pm" selected="selected">picometer(pm)</option>
                            {% else %}
                            <option value="pm">picometer(pm)</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and F %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Compton Wavelength</h2>
        </div>

        <div class="card-body">

            <strong>Compton Wavelength Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">λ = h / (m * c)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>λ is the Compton Wavelength </li>
                        <li> m is tha mass</li>
                        <li> c = 299 792 458 m/s is the speed of light </li>
                        <li> h = 6.62607 * 10^(-34) J/s is the Planck constant</li>
                        
                    </ul>

            <strong>Input values are:-</strong>
            <p>Mass = {{Ia1}} {{Ia_op}} </p>
            
           
            {% if Ia_op != 'kg' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Mass  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"kg"</i></b></b>
                </summary>
                <p>Mass in ={{Ia1}} {{Ia_op}}</p>
                <p>Mass ={{Ia|safe}} kg </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  λ = h / (m * c)
            <p>  λ= h = 6.62607 * 10^(-34) / ( 299792458 X {{Ia|safe}}) </p>
            
            {% if F != -1 %}
            <p><b> Compton Wavelength = {{F|safe}} m </b></p>
            {%else%}
            <p><b> Compton Wavelength = {{base}} X  10 <sup>{{power}}</sup> m </b></p>
            {%endif%} 
            
           
        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Ia %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Mass</h2>
        </div>

        <div class="card-body">

            <strong>Compton's Wavelength Formula</strong>
            <br>
            <p class="btn btn-outline-secondary active">λ = h / (m * c)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <ul>
                        <li>λ is the Compton Wavelength </li>
                        <li> m is tha mass</li>
                        <li> c = 299 792 458 m/s is the speed of light </li>
                        <li> h = 6.62607 * 10^(-34) J/s is the Planck constant</li>
                        
                    </ul>

                    </ul>

            <strong>Input values are:-</strong>
            <p>Compton Wavelength = {{F1}} {{F_op}} </p>
            
    
            {% if F_op != 'm' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Compton Wavelength  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"meters"</i></b></b>
                </summary>
                <p>Compton Wavelength in ={{F1}} {{F_op}}</p>
                <p>Compton Wavelength ={{F|safe}} meters </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  λ = h / (m * c)
            <p>  m = h = 6.62607 * 10^(-34) / ( {{F|safe}} X 299792458  )  </p>
           
           
            {% if Ia != -1 %}
            <p><b> Mass = {{Ia|safe}} kg </b></p>
            {%else%}
            <p><b> Mass = {{base}} X  10 <sup>{{power}}</sup> kg </b></p>
            {%endif%} 

        </div>

    </div>
    {% endif %}



</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    


    var validNumber = new RegExp(/^\d*\.?-?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
        console.log(elem)
        if (validNumber.test(elem.value)) {
            fist_input = elem.value;
        } else {
            elem.value = fist_input;
        }
    }
</script>

<script>
    function myFunction() {
        document.getElementById("clear").innerHTML="";
        {% if given_data == "form1" %}

            document.getElementsByName("Ia")[0].value = "";
            document.getElementsByName("Ia_op")[0].value = "kg";
           

        {% endif %}

        {% if given_data == "form2" %}

            document.getElementsByName("F")[0].value = "";        
            document.getElementsByName("F_op")[0].value = "m";

        {% endif %}



    }
</script>
<br>


{% endblock %}