.u-section-3-1 {
  background-image: url("images/18.svg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3-1 .u-group-1 {
  width: 789px;
  min-height: 363px;
  background-image: none;
  margin: 250px auto 0;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3-1 .u-table-1 {
  width: 629px;
  margin: 0 auto;
}

.u-block-3a18-15 {
  font-weight: 700;
  background-image: none;
}

.u-block-3a18-16 {
  height: 21px;
}

.u-section-3-1 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 63px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-3-1 .u-group-1 {
    width: 720px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-3-1 .u-group-1 {
    width: 540px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-table-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-3-1 .u-group-1 {
    width: 340px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-1 .u-table-1 {
    width: 320px;
  }
}.u-section-3-2 {
  background-image: url("images/18.svg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3-2 .u-group-1 {
  width: 789px;
  min-height: 363px;
  background-image: none;
  margin: 250px auto 0;
}

.u-section-3-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3-2 .u-table-1 {
  width: 629px;
  margin: 0 auto;
}

.u-block-5b8d-15 {
  font-weight: 700;
  background-image: none;
}

.u-block-5b8d-16 {
  height: 21px;
}

.u-section-3-2 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 63px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-3-2 .u-group-1 {
    width: 720px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-3-2 .u-group-1 {
    width: 540px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-2 .u-table-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-3-2 .u-group-1 {
    width: 340px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-2 .u-table-1 {
    width: 320px;
  }
}.u-section-3-3 {
  background-image: url("images/18.svg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3-3 .u-group-1 {
  width: 789px;
  min-height: 363px;
  background-image: none;
  margin: 250px auto 0;
}

.u-section-3-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3-3 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3-3 .u-table-1 {
  width: 629px;
  margin: 0 auto;
}

.u-block-fda5-15 {
  font-weight: 700;
  background-image: none;
}

.u-block-fda5-16 {
  height: 21px;
}

.u-section-3-3 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 63px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-3-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-3-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-3 .u-table-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-3-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-3 .u-table-1 {
    width: 320px;
  }
}.u-section-1 {
  background-image: url("images/73306db5f8f2d27fdb2c0d9ec39815ec954cb3eb5901ed84de7e2b04601d939d46b6903c0cc425d46d4988019b5452c5ab16b28e42c0cea42e887b_128011.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1782px;
}

.u-section-1 .u-group-1 {
  width: 616px;
  min-height: 230px;
  margin: 70px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.6;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  text-shadow: 10px 6px 8px rgba(128,128,128,1);
  margin: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 95px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
  width: 1140px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  grid-gap: 50px 50px;
  min-height: 950px;
  background-image: none;
}

.u-section-1 .u-image-1 {
  animation-duration: 1000ms;
  background-image: url("images/default-image.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  animation-duration: 1000ms;
  background-image: url("images/default-image.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  animation-duration: 1000ms;
  background-image: url("images/default-image.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  animation-duration: 1000ms;
  background-image: url("images/default-image.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  animation-duration: 1000ms;
  background-image: url("images/default-image.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-6 {
  animation-duration: 1000ms;
  background-image: url("images/default-image.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1469px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 783px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    margin-top: 181px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
  }

  .u-section-1 .u-btn-3 {
    border-style: none;
  }

  .u-section-1 .u-btn-4 {
    border-style: none;
  }

  .u-section-1 .u-btn-5 {
    border-style: none;
  }

  .u-section-1 .u-btn-6 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    min-height: 1349px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 16.79% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 314px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 69px;
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#564914, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-2 .u-product-1 {
  min-height: 1067px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 444px;
  height: 411px;
  animation-duration: 1000ms;
  margin: 51px 40px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  line-height: 1.6;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  text-shadow: 10px 6px 8px rgba(128,128,128,1);
  margin: -263px 504px 0 0;
}

.u-section-2 .u-table-1 {
  width: 656px;
  margin: 164px auto 0 0;
}

.u-block-fa01-15 {
  background-image: none;
}

.u-block-fa01-18 {
  border-style: solid;
}

.u-block-fa01-20 {
  font-weight: 700;
  background-image: none;
}

.u-block-fa01-21 {
  height: 32px;
}

.u-block-fa01-22 {
  padding-top: 10px;
}

.u-block-fa01-23 {
  padding-top: 10px;
}

.u-section-2 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  border-style: solid;
  padding-top: 10px;
}

.u-section-2 .u-table-cell-2 {
  border-style: solid;
  padding-top: 10px;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
  border-style: solid;
  padding-top: 10px;
}

.u-section-2 .u-table-cell-4 {
  border-style: solid;
  padding-top: 10px;
}

.u-block-fa01-41 {
  background-image: none;
}

.u-block-fa01-43 {
  padding-top: 10px;
}

.u-block-fa01-44 {
  padding-top: 10px;
}

.u-section-2 .u-group-1 {
  min-height: 348px;
  animation-duration: 1000ms;
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  text-decoration: underline !important;
  margin: 0 893px 0 11px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 19px 30px 0;
}

.u-section-2 .u-text-4 {
  text-decoration: underline !important;
  margin: 49px 904px 0 11px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-product-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 304px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 704px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 715px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 484px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 304px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 315px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -167px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 104px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 115px;
  }
}.u-block-092b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-092b-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-092b-4 {
  position: absolute;
  right: 0;
}.u-section-4 {
  background-image: linear-gradient(white, #564914);
}

.u-section-4 .u-sheet-1 {
  min-height: 249px;
}

.u-section-4 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  margin: 29px auto 50px;
}