.u-section-1 {
  background-image: url("images/203767202-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 616px;
  min-height: 230px;
  margin: 70px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.6;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  text-shadow: 10px 6px 8px rgba(128,128,128,1);
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: bold;
  animation-duration: 1000ms;
  margin: 120px 68px 0;
}

.u-section-1 .u-list-1 {
  width: 935px;
  margin: 34px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 98px;
  grid-template-columns: calc(33.3333% - 53.3333px) calc(33.3333% - 53.3333px) calc(33.3333% - 53.3333px);
  grid-gap: 80px 80px;
}

.u-section-1 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 226px;
    grid-template-columns: calc(50% - 40px) calc(50% - 40px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 16.79% 100%;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 465px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: url("images/a9712200555b035ab268895619231009c07dd6f736e82b1bc1c4cbd362fc4b3cbf36fdc01d007e7833c78df73c5814047023ad2f558faf268f01f7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  margin: 72px 751px 0 72px;
}

.u-section-2 .u-text-2 {
  margin: -52px 153px 0 851px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 0% 100%;
  }

  .u-section-2 .u-text-1 {
    margin-right: 623px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 53px;
    margin-left: 751px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 403px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 584px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-position: 16.79% 100%;
  }

  .u-section-2 .u-text-1 {
    margin-right: 223px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 404px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 204px;
  }
}